---
import CartWrapper from "../components/CartWrapper";
---

<header class="flex shadow-md py-4 px-4 sm:px-10 bg-black font-[sans-serif] min-h-[70px] tracking-wide relative z-50">
  <div class="flex flex-wrap items-center justify-between gap-5 w-full">
    <a href="/" class="max-sm:hidden">
      <img src="/imagen.png" alt="logo" class="w-36" />
    </a>
    <a href="/" class="hidden max-sm:block">
      <img src="/imagen.png" alt="logo" class="w-9" />
    </a>

    <div id="collapseMenu">
      <ul class="lg:flex gap-x-5">
        <li>
          <a href="/" class="hover:text-gray-500 text-white block font-semibold text-[15px]">Home</a>
        </li>
        <li>
          <a href="/course/purchases" class="hover:text-gray-500 text-white block font-semibold text-[15px]">Mis Cursos</a>
        </li>
        <li>
          <a id="profileLink" class="hover:text-white text-gray-500 block font-semibold text-[15px]" href="#">
            Perfil
          </a>
        </li>
         <!-- Menú desplegable del carrito -->
         <li class="relative">
          <!-- Icono de carrito -->
          <button id="cartButton" class="text-white flex items-center gap-2 hover:text-gray-500">
            <i class="fas fa-shopping-cart"></i> <!-- Icono del carrito (puedes cambiarlo si deseas) -->
            <span class="text-sm">Carrito</span>
          </button>

          <!-- Menú desplegable -->
          <div id="cartMenu" class="absolute top-full right-0 mt-2 w-64 bg-white rounded-lg shadow-lg hidden">
            <CartWrapper client:load />
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>

<script type="module" src="/scripts/header.js"></script>
